/Lexico.class
/MainLexico.class
/Token.class
/VentanaPrincipal$1.class
/VentanaPrincipal$2.class
/VentanaPrincipal.class
/ventanaNueva$1.class
/ventanaNueva$2.class
/ventanaNueva$3.class
/ventanaNueva.class
/VentanaPrincipal$3.class
/ventanaNueva$4.class
/AppTest.class
.idea
.settings
/target/
